

body {
  background-color: gray(85); // Test postcss
}

.kit {
  background-image: url('../images/kit.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

input {
  &::placeholder {
    color: gray; // Test autoprefixer
  }
}